@import "./common.css";

.participants {
    max-width: 1920px;
}

.participants__text {
    display: flex;
    flex-direction: column;
}

/* Адаптив под фотки и текст */
/* через FlexBox */
@media (max-width: 1023px) {
    #mem-cont {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        justify-content: space-between;
    }

    .participants__text {
        flex-basis: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
    }

    .participants__photo,
    .watch-photoes {
        width: 41.25svw;
        min-width: 130px;
        aspect-ratio: 132 / 100;
    }

    .pts-flex--resize {
        width: 41.25svw;
        min-width: 130px;
        aspect-ratio: 132 / 150;
    }

    .photos__left,
    .photos__right {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .watch-photoes {
        position: relative;
        width: 100%;
        padding: 14px 18px;
    }

    .watch-photoes>p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

/* Адаптив под десктопы */
@media (min-width: 1024px) {
    #mem-cont {
        display: flex;
        flex-direction: column;
        gap: 80px;
        position: relative;
    }

    .participants__text,
    .photos__left {
        width: 50%;
    }


    .participants__text {
        width: 41%;
    }

    .photos__left {
        gap: 80px;
    }

    .photos__right {
        position: absolute;
        right: 0;
    }

    .photos__left {
        display: flex;
        flex-direction: column;
    }

    /* Ширина для фоток и контейнера "Еще фото" */
    .participants__photo--left,
    .watch-photoes {
        position: relative;
        width: clamp(400px, 39.0625svw, 500px);
    }

    @media (min-width: 1566px) {

        .participants__photo--left,
        .watch-photoes {
            position: relative;
            width: clamp(500px, 33.85svw, 650px);
        }
    }

    .photos__right {
        display: flex;
        flex-direction: column;
        gap: 80px;
        padding-bottom: 100px;
    }

    @media (min-width: 1566px) {
        .photos__right {
            display: flex;
            flex-direction: column;
            gap: 130px;
        }
    }

    .participants__photo--right {
        width: clamp(450px, 44svw, 600px);
    }

    @media (min-width: 1566px) {
        .participants__photo--right {
            width: clamp(600px, 39.0625svw, 750px);
        }
    }

    /* Настройка "Еще фото" */

    .watch-photoes {
        position: relative;
        padding: 30px 30px;
    }

    .watch-photoes>p {
        width: 100%;
        aspect-ratio: 400 / 128;
        display: flex;
        justify-content: space-between;
    }



    /* Отступы справа для контейнера, 
    где фотографии должны находиться справа*/

    .photos__right {
        padding-right: clamp(35px, 4.7svw, 150px);
    }

    @media (min-width: 1566px) {
        .photos__right {
            padding-right: clamp(150px, 9svw, 195px);
        }
    }

    /* Вычисление высоты контейнера */
    @media (min-width: 1350px) {
        .participants {
            --height-right-photos: clamp(450px, 44svw, 600px);
            --gap-right-photos: 80px;
            --paddings: clamp(100px, 10svw, 200px);

            height: calc(3 * var(--height-right-photos) + 2 * var(--gap-right-photos) + var(--paddings));
        }
    }

    @media (min-width: 1566px) {
        .participants {
            --height-right-photos: clamp(600px, 39.0625svw, 750px);
            --gap-right-photos: 130px;
            --paddings: clamp(100px, 10svw, 200px);

            height: calc(3 * var(--height-right-photos) + 2 * var(--gap-right-photos) + var(--paddings));
        }
    }
}



@media (min-width: 1566px) {
    .watch-photoes {
        padding: 40px 40px;
    }
}

/* Паддинги сверху и снизу */
@media (min-width: 1024px) {

    .participants__wrapper {
        max-width: 1920px;
        padding-top: clamp(100px, 10svw, 200px);
        padding-bottom: clamp(100px, 10svw, 200px);
    }
}

@media (max-width: 1024) {
    .participants__wrapper {
        padding-top: clamp(30px, 9.375svw, 100px);
        padding-bottom: clamp(30px, 9.375svw, 100px);
    }
}


/* Border радиусы для "Еще фото" и для самого контейнера*/
.watch-photoes,
.participants,
.participants__photo {
    border-radius: 20px;
}

@media (min-width: 1024px) {

    .watch-photoes,
    .participants,
    .participants__photo {
        border-radius: 40px;
    }
}

@media (min-width: 1200px) {

    .participants,
    .participants__photo {
        border-radius: 50px;
    }
}