@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body .wrapper {
    display: grid;
}

:root {
    /* Colors */
    --foreground: #1E1E25;
    --background: #E7E7E9;
    --blue: #1F5DFD;
    --green: #9BFD1F;
    --dark-grey: #9090A6;
    --white: #ffffff;
    --stroke-color: #D1D1DE;

    /* Screens + Responsive */
    --desktop-width: 1920px;
    --desktop-small-width: 1566px;
    --tablet-width: 1024px;
    --mobile-width: 768px;

    /* Font */
    --unbounded-font: 'Unbounded';
}

/* Colors */
:root {
    /* Font size for Desktop */
    --headline-font-size: 86px;
    --headline-font-size: clamp(30px, 5svw, 86px);

    --headline2-font-size: 50px;
    --headline3-font-size: 30px;
    --numeric-font-size: 50px;
    --descriptor-font-size: 20px;
    --large-text-font-size: 16px;
    --price-font-size: 25px;
    --basic-font-size: 14px;
    --button-font-size: 14px;

    /* Line height for Desktop */
    --line-height-small: 100%;
    --line-height-normal: 130%;
    --line-height-medium: 150%;
    --line-height-large: 150%;
}

/* Tablet */
@media (min-width: 1024px) and (max-width: 1566px) {
    :root {
        /* Font size for Tablet */

        /* --headline-font-size: 50px; */
        /* --headline-font-size: clamp(30px, 5svw, 86px); */
        --headline2-font-size: 40px;
        --headline3-font-size: 22px;
        --numeric-font-size: 30px;
        --descriptor-font-size: 18px;
        --large-text-font-size: 15px;
        --price-font-size: 20px;
        --button-font-size: 12px;

        /* Line height for Tablet */
        --line-height-medium: 140%;
    }
}

/* Mobile */
@media (max-width: 1024px) {
    :root {
        /* Font size for Mobile */
        --headline-font-size: 30px;
        --headline2-font-size: 22px;
        --headline3-font-size: 18px;
        --numeric-font-size: 26px;
        --descriptor-font-size: 16px;
        --large-text-font-size: 14px;
        --price-font-size: 18px;

        /* Line height for Mobile */
        --line-height-medium: 140%;
    }
}

@layer utilities {
    .wrapper {
        padding-left: clamp(18px, 5svw, 35px);
        padding-right: clamp(18px, 5svw, 35px);
    }

    @media (min-width: 1024px) {
        .wrapper {
            padding-left: clamp(35px, 7.5svw, 150px);
            padding-right: clamp(35px, 7.5svw, 150px);
        }
    }

    @media (min-width: 1566px) {
        .wrapper {
            padding-left: clamp(150px, 10svw, 195px);
            padding-right: clamp(150px, 10svw, 195px);
        }
    }
}

@layer utilities {
    .line {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @media (min-width: 1024px) {
        .line {
            margin-top: 35px;
            margin-bottom: 35px;
        }
    }
}

@layer utilities {
    .positioning__main-atributes {
        margin-top: 20px;
    }

    @media (min-width: 1024px) {
        .positioning__main-atributes {
            margin-top: 35px;
        }
    }
}

@layer utilities {
    .rowgap {
        row-gap: 20px;
    }

    @media (min-width: 1024px) {
        .rowgap {
            row-gap: 35px;
        }
    }
}